{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
   
<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
		{{ form_start(form, {'method': 'post', 'action': path('registration'), 'attr': {'class': 'registration form-signin'}}) }}

	    <h2>Register</h2>
	    
	    <div class="formgroup" style="margin-top:20px;">
	    	{{ form_widget(form.email, {'attr': {'class': 'form-control', placeholder: 'email' }}) }}
	    	{{ form_errors(form.email) }}
	    </div>
	    
	    <div class="formgroup" style="margin-top:20px;">
	    	{{ form_widget(form.username, {'attr': {'class': 'form-control', placeholder: 'username' }}) }}
	    	{{ form_errors(form.username) }}
	    </div>
	    
	    <div class="formgroup" style="margin-top:20px;">
	    	{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', placeholder: 'Password' }}) }}
	    	{{ form_errors(form.plainPassword.first) }}
	    </div>
	    
	    <div class="formgroup" style="margin-top:20px;">
	    	{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', placeholder: 'Retype Password' }}) }}
	    </div>

	    <div class="formgroup" style="margin-top:20px;">
            <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Save" />
		</div>
		{{ form_end(form) }}
		</div>
	</div>
</div>

{% endblock %}